.team-grid__col-full{
    display:flex;
    flex-direction: column;
}

.team-grid__col-full > div{
    flex:1;

}

.team-grid__col-full .team-grid__card-item{
    margin:0.5%;

}
@media (min-width: 768px) {
    .team-grid__col-full{
        flex-direction: row;
        flex-wrap:wrap;
    
    }
    .team-grid__col-full > div{
        flex:0 0 24%;
    }
    .team-grid__col-full-3 > div{
        flex:0 0 32%;
    }

}