.home-page{
width:100%;
max-width: 100vw;
margin-top:3.5rem;
display:flex;
flex-direction: column;
position:relative;
}
.home-page > div{
    flex:1;
}
.home-content{
    width:90%;
    max-width:1200px;
    margin: 0 auto;
    position: relative;
    height:100%;
    padding:1rem 0;
}
.home-page i.bg{
    display: none;
}

.home-content__paragraph{
    width:100%;
}
.icon-buttons-container{
    display:flex;
}

.home-img{
    width:100%;
    max-width:600px;
}
@media(min-width: 768px){
    .home-content__paragraph{
        width:49%;
        
    }
    .home-page i.bg{
        display: block;
        position:absolute;
        width:25%;
        height:100%;
        right:0;
        left:auto;
        top:-8rem;
        bottom:auto;
        z-index: -3;
        padding:5rem 0 8rem;
        background-color: #28CC64;
    }
}