.sponsor-grid__col-full{
    display:flex;
    flex-direction: column;
}
.sponsor-grid__col-full > div{


}

.sponsor-grid__col-full .sponsor-grid__card-item{

}
@media (min-width: 768px) {
    .sponsor-grid__col-full{
        flex-direction: row;
        flex-wrap:wrap;
    
    }
    .sponsor-grid__col-full > div{
        flex:0 0 25%;
    }

}