#page-footer{
    margin-top: auto;
    display: flex;
    flex-direction: row;
    background-color: #13120B00079;
    border-radius: 8px;
    z-index:9990;
}

#page-footer > div{
    flex:1;
    padding: 1rem;
    justify-content: center;

}
.footer-logo{
    display: block;
    margin:auto;
}

.footer-icon{
    padding:0.5rem;
    margin:auto .25em;
    

}
.footer-box{
    display: flex;
    flex-flow: flex-end;
}
.footer-icon-box{
width: fit-content;
   margin-left: auto;
}

h3{
    color: #EA1A7F;

    padding: 0;
  
    align-items: center;
    margin-left: 8px;
}
@media (max-width: 450px) {
    #page-footer{
        flex-direction: column;
        text-align: center;
        margin:0.75rem;
    }
    .footer-icon-box{
        margin:auto;
    }
}