.lead-slider__item{
    padding:0.5rem;
}
.lead-slider__card{
    display:flex;
    flex-direction: column;
    height: 375px;
    justify-content:space-between;
}
.lead-slider__card-title{
    margin:0;
    flex:1;
    color:#4BB05A;
}
.lead-slider__card-info{
    margin:0;
    flex:1;
}
.lead-slider__card-content{
    margin:0;
    flex:2;
}
.lead-slider__card-content-container{
    padding:0 1rem;
    flex:4;
    margin-top:0.5rem;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}