html{
  background-image: url('../public/static/img/fresh-snow.png');
  background-color:rgba(254, 255, 225, 0.5);
  scroll-behavior: smooth;
}
body {
  margin: 0;
  margin: 0 auto;
  line-height: 150%;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2{
  color:#28CC64;
  line-height: 150%;

}