.post-grid{
display:flex;
height:100%;
flex-direction: column;
}


.post-grid__col-long{
    flex:3;
    max-width: 900px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;


}
.post-grid__col-long > div{
    display:flex;
    flex-direction: column;
}


.post-grid__col-short{
    flex:1;
    
}

@media (min-width: 768px) {
    .post-grid{
       flex-direction: row;
        }
        .post-grid__col-long{
            flex-direction: row;
            max-width: 900px;

        }
        .post-grid__col-short{
           
            max-width: 300px;
            
        }
     
}