.post-round-img{
    flex:1;
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;

}

.post-round-img > img{
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-left:auto;
}

.post-grid__card-short{
    width:92%;
    margin:0 auto;
    position:relative;
    
   padding:0.5rem 0.75rem;
display:flex;
flex-direction: column;
}


.post-grid__cards-short__content-container{
   
}
.post-grid__card-short__header{
    display:flex;
  
}
.post-grid__card-short-container{
    display:flex;
    margin:0.5rem auto;

    justify-content:space-between;
}
.post-grid__card-short h2{

    font-size: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.post-grid__card-short-content{
    font-size: 0.9rem;
    margin:0.25rem 0;
    line-height: 1.25;
    height:25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.post-grid__card-short a{
    text-decoration: none;
    font-weight: bold;
    color:#006400;
    font-size: 0.9rem;
}
.post-grid__card-short a:hover{
    text-decoration:underline;
    transition: 0.2s;
}